extends email-layout

block content
  .resetCard
    h2 Password Reset
    p Hello there, you have requested a password reset. Please click the following button to continue with your password reset. Note that this link is only valid for one hour.
    +button(resetURL, 'Reset my password →')
    p If you can't click the above button please visit this link #{resetURL}
